* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    object-fit: cover;
    box-sizing: border-box;
}

ion-toolbar{
    --background: #151515;
    --color:#fff
}
.message{
    text-align: center;
    line-height: 300px;
}
.contents {
    margin-bottom: 100px;

    div:nth-child(1) {
        margin-top: 0;
    }

    .movie {
        padding: 0 10px;
        display: flex;
        margin-top: 10px;
        background-color: #101010;
        .imgbox {
            width: 80px;
            height: 120px;
            // border: 1px solid white;
            img {
                width: 80px;
                height: 120px;
            }
        }

        .info {
            padding: 10px 20px;
            flex: 1;
            height: 120px;

            h4 {
                font-size: 13px;
            }

            p {
                font-size: 7px;
                margin-top: 12px;
            }

            .star {
                font-size: 10px;
                text-align: left;
                color: rgb(255, 187, 0);
                margin-top: 10px;

                span {
                    font-size: 2px;
                }
            }
        }
    }
}
