<ion-content>
  <div class="header">
    <app-header></app-header>
    <ion-tabs>
      <ion-tab-bar slot="top">
        <ion-tab-button tab="allmovie" class="btn">
          <ion-label>全部</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="science">
          <ion-label>科幻片</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="horror">
          <ion-label>恐怖片</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="comedy">
          <ion-label>喜劇片</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </div>
</ion-content>