* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    object-fit: cover;
    box-sizing: border-box;
}
ion-content {
    --background: #151515; 
    --color: #fff;
}

.header{
    width: 100%;
    height: 115px;
    position: fixed;
    z-index: 99;
    background-color: #151515;
}
/* Header Style */
.searchbox {
    width: 100%;
    height: 45px;
    display: flex;
    background-color: #000;
    .search {
        flex: 1;
        position: relative;
        width: 300px;
        height: 30px;
        margin: 0 10px;
        margin-top: 7.5px;
        border-radius: 30px;

        input {
            outline: none;
            border: none;
            width: 100%;
            height: 30px;
            padding: 0 20px;
            padding-right: 80px;
            border-radius: 30px;
            background-color: #202020;
            color: white;
        }
    }

    .btn {
        position: absolute;
        outline: none;
        border: none;
        width: 60px;
        height: 30px;
        border-radius: 25px;
        right: 0;
        transition: all .5s;
        color: white;
        background-color: #000;
    }

    .btn:hover {
        background-color: #151515;
    }
}

/* Banner Style */
.banner {
    margin-top: 115px;
    width: 100%;
    height: 160px;
    .bannerbox {
        height: 100%;
        // transition: all 1s;
        ul {
            display: flex;
            li {
                flex-shrink: 0;
                width: 100%;
                img {
                    width: 100%;
                    height: 160px;
                }
            }
        }
    }
    .icon{
        display: flex;
        .left{
            position: absolute;
            top: 195px;
            left: 0;
            text-align: center;
            font-size: 40px;
            color: rgba($color: #fff, $alpha: 0.3);
            transform: translateY(-50%);
        }
        .right{
            position: absolute;
            top: 195px;
            right: 0;
            text-align: center;
            font-size: 40px;
            color: rgba($color: #fff, $alpha: 0.3);
            transform: translateY(-50%);
        }
    }
}

/* Content Style */
.content {
    width: 100%;
    margin-top: 10px;
    .newest {
        width: 100%;
        padding: 10px;
        .title {
            text-align: left;
            font-size: 15px;
            padding-bottom: 5px;
            border-bottom: 2px solid #fad346;
        }

        .image {
            height: 100%;
            margin-top: 20px;
            overflow-x: scroll;
            white-space: nowrap;

            div {
                display: inline-block;
                width: 100px;
                // height: 160px;
                margin-left: 10px;
                text-align: left;
                p{
                    font-size: 11px;
                    text-align: left;
                    margin-left: 5px;
                    color: rgb(255, 187, 0);
                    span{
                        font-size: 5px;
                    }
                }
                h4{
                    font-size: 13px;
                    margin-top: 2px;
                    margin-left: 5px;
                }
                img {
                    width: 100%;
                    height: 160px;
                }
            }
            div:nth-child(1){
                margin-left: 0;
            }
        }
    }
}

::-webkit-scrollbar {
    display: none;
}