
.header {
    width: 100%;
    height: 70px;
    padding: 10px;
    line-height: 70px;
    display: flex;
    position: relative;
    background-color: #000;
    i {
        font-weight: bold;
        font-size: 25px;
        // color: #d03226;
        color:#ffcc14;
    }

    .user {
        position: absolute;
        top: 30px;
        right: 10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        line-height: 35px;
        font-size: 20px;
    }
}
